.DS_Store
.env
.idea/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
*.egg-info/
*.py[cod]

data/external/*
data/interim/*
data/processed/*
data/raw/*
models/*
reports/figures/*

!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!models/.gitkeep
!reports/figures/.gitkeep
